@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container h1.sow-headline {
  font-family: Open Sans;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container h1.sow-headline a {
  color: #ffffff;
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container h3.sow-sub-headline {
  font-family: Open Sans;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container h3.sow-sub-headline a {
  color: #ffffff;
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 0px none #5c5c5c;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-3ffdbf3fde4b .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}