.so-widget-sow-features-default-1e845bce5736 .sow-features-list {
  margin: 0 -25px;
  zoom: 1;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list:before {
  content: '';
  display: block;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature {
  position: relative;
  float: left;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  display: flex;
  margin-bottom: 40px;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-top {
  flex-direction: column;
  text-align: center;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-top .sow-icon-container {
  margin-bottom: 10px;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-right {
  text-align: left;
  flex-direction: row;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-right .sow-icon-container {
  margin-right: 10px;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-left {
  text-align: left;
  flex-direction: row-reverse;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-left .sow-icon-container {
  margin-left: 10px;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-bottom {
  text-align: center;
  flex-direction: column-reverse;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-icon-container-position-bottom .sow-icon-container {
  margin-top: 10px;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature .sow-icon-container {
  width: 125px;
  height: 125px;
  font-size: 125px;
  text-decoration: none;
  margin: auto;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature .sow-icon-container [class^="sow-icon-"],
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature .sow-icon-container .sow-icon-image {
  text-decoration: none;
  color: #FFFFFF;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature h5 {
  margin: 1em 0;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature h5 a {
  color: inherit;
  text-decoration: none;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature h5 a:hover {
  text-decoration: underline;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature p.sow-more-text a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature p.sow-more-text a:hover {
  text-decoration: underline;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature p:last-child {
  margin-bottom: 0;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature.sow-features-feature-last-row {
  margin-bottom: 0;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-feature .textwidget {
  margin: auto;
}
.so-widget-sow-features-default-1e845bce5736 .sow-features-list .sow-features-clear {
  clear: both;
}
@media (max-width: 520px) {
  .so-widget-sow-features-default-1e845bce5736 .sow-features-list.sow-features-responsive {
    margin: 0;
  }
  .so-widget-sow-features-default-1e845bce5736 .sow-features-list.sow-features-responsive .sow-features-feature {
    width: 100% !important;
    float: none;
    margin-bottom: 40px;
  }
  .so-widget-sow-features-default-1e845bce5736 .sow-features-list.sow-features-responsive .sow-features-feature:last-child {
    margin-bottom: 0px;
  }
  .so-widget-sow-features-default-1e845bce5736 .sow-features-list.sow-features-responsive .sow-features-clear {
    clear: none;
  }
}