.so-widget-sow-button-wire-838e1d16690a .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-838e1d16690a .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-838e1d16690a .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-wire-838e1d16690a .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #dd3333;
  color: #dd3333 !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-wire-838e1d16690a .ow-button-base a:visited,
.so-widget-sow-button-wire-838e1d16690a .ow-button-base a:active,
.so-widget-sow-button-wire-838e1d16690a .ow-button-base a:hover {
  color: #dd3333 !important;
}
.so-widget-sow-button-wire-838e1d16690a .ow-button-base a.ow-button-hover:hover {
  background: #dd3333;
  color: #ffffff !important;
}