/*
Theme Name: Ultra
Description: Adds support for WooCommerce.
*/
/*--------------------------------------------------------------
## - Entry Header
--------------------------------------------------------------*/
.woocommerce .entry-header {
  background: #f6f6f7;
  box-sizing: content-box;
  margin-bottom: 2.67857em;
  padding: 1.33929em 0; }

.woocommerce .entry-header h1.entry-title {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 70%; }

@media (max-width: 768px) {
  .resp.woocommerce .entry-header h1.entry-title {
    text-align: center;
    width: 100%; } }

.woocommerce .container .woocommerce-breadcrumb {
  box-sizing: border-box;
  color: #acaeaf;
  display: inline-block;
  margin: 0;
  text-align: right;
  vertical-align: middle;
  width: 29%; }
  @media (max-width: 768px) {
    .resp.woocommerce .container .woocommerce-breadcrumb {
      text-align: center;
      width: 100%; } }
  .woocommerce .container .woocommerce-breadcrumb a {
    color: #acaeaf; }
    .woocommerce .container .woocommerce-breadcrumb a:hover {
      color: #0896fe; }

.woocommerce.single-product .entry-header {
  margin-bottom: 2.67857em; }

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
  color: #838588;
  font-size: 12.99998px;
  font-size: 0.92857rem;
  line-height: 1.92308em;
  margin-bottom: 2.67857em; }

/*--------------------------------------------------------------
## - Buttons
--------------------------------------------------------------*/
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce .products a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: transparent;
  background: #0896fe;
  border-bottom: none;
  color: #fff;
  font-weight: 400;
  padding: 0.7142em 1.2143em;
  text-transform: none; }

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce .products a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: rgba(8, 150, 254, 0.8);
  border-bottom: none;
  color: #fff; }

/*--------------------------------------------------------------
## - Archive
--------------------------------------------------------------*/
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 16.00004px;
  font-size: 1.14286rem;
  line-height: 1.5625em;
  padding-top: 0; }

/*--------------------------------------------------------------
## - Product Single
--------------------------------------------------------------*/
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 0; }

.woocommerce ul.products li.product .price {
  color: #838588;
  font-size: 12.99998px;
  font-size: 0.92857rem;
  line-height: 1.92308em; }

.woocommerce span.onsale {
  background-color: #0896fe; }

.woocommerce .star-rating {
  line-height: normal; }

.woocommerce .star-rating:before,
.woocommerce ul.products li.product a:not(.button) {
  color: #838588; }

.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 15px; }
  .woocommerce div.product div.images .flex-control-thumbs li {
    margin: 0 2.5% 2.5% 0;
    width: 23.125%; }
    .woocommerce div.product div.images .flex-control-thumbs li:nth-child(4n) {
      margin-right: 0; }

.woocommerce-review-link {
  color: #838588;
  font-size: 12.99998px;
  font-size: 0.92857rem;
  line-height: 1.92308em; }
  .woocommerce-review-link:hover {
    color: #838588; }

.woocommerce p.stars span a {
  border: none; }
  .woocommerce p.stars span a:hover {
    border: none; }

.woocommerce ul.products li.product a.added_to_cart {
  font-size: 13px; }

.single-product input[type="number"] {
  padding-top: 7.5px;
  padding-bottom: 7.5px; }

.product_meta {
  color: #838588;
  font-size: 12.99998px;
  font-size: 0.92857rem;
  font-weight: bold;
  line-height: 1.92308em; }
  .product_meta a {
    color: #838588;
    font-weight: normal; }

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #838588; }

.woocommerce-cart table.cart td.actions .coupon .input-text {
  padding: 7px 9px 8px;
  min-width: 150px; }

.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  color: #fff;
  padding: 10px 18px 10px; }
  .woocommerce input.button:disabled:hover,
  .woocommerce input.button:disabled[disabled]:hover {
    background: rgba(8, 150, 254, 0.8);
    color: #fff; }

.woocommerce-tabs h2 {
  margin-top: 0; }

.related h2 {
  margin-top: 0; }

.comment-respond .comment-reply-title {
  font-size: 16px;
  font-weight: bold; }

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.9285em; }

/*--------------------------------------------------------------
## - Cart
--------------------------------------------------------------*/
.woocommerce a.remove:hover {
  background: none;
  color: red !important; }

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  border-bottom: none; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  font-weight: bold; }

/*--------------------------------------------------------------
## - Checkout
--------------------------------------------------------------*/
.entry-content .woocommerce .country_select a,
.entry-content .woocommerce .state_select a {
  border-bottom: 1px solid #ccc;
  color: #444; }
  .entry-content .woocommerce .country_select a:hover,
  .entry-content .woocommerce .state_select a:hover {
    border-bottom: 1px solid #ccc; }

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  font-weight: bold; }

/*--------------------------------------------------------------
## - Pagination
--------------------------------------------------------------*/
.woocommerce nav.woocommerce-pagination ul {
  border: none !important; }
  .woocommerce nav.woocommerce-pagination ul li {
    border: none !important;
    margin-right: 5px; }
    .woocommerce nav.woocommerce-pagination ul li a,
    .woocommerce nav.woocommerce-pagination ul li span {
      background: #eaeaea;
      border-radius: 3px;
      color: #5a5d60;
      font-size: 14px;
      line-height: 37px;
      padding: 0 16px;
      transition: 0.3s; }
      .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a.current,
      .woocommerce nav.woocommerce-pagination ul li span:hover,
      .woocommerce nav.woocommerce-pagination ul li span.current {
        background: #0896fe;
        color: #fff; }
    .woocommerce nav.woocommerce-pagination ul li .next,
    .woocommerce nav.woocommerce-pagination ul li .prev {
      font-family: Verdana, Geneva, sans-serif;
      padding: 0 14px; }

/*--------------------------------------------------------------
## - Product List Widget
--------------------------------------------------------------*/
#primary .woocommerce ul.product_list_widget li {
  box-sizing: border-box;
  float: left;
  margin-bottom: 2.67857em;
  text-align: center;
  width: 31.33%; }
  @media (max-width: 480px) {
    #primary .woocommerce ul.product_list_widget li {
      float: none;
      width: 100%; } }

#primary .woocommerce ul.product_list_widget li:nth-of-type(3n + 2) {
  margin-right: 25px;
  margin-left: 25px; }
  @media (max-width: 480px) {
    #primary .woocommerce ul.product_list_widget li:nth-of-type(3n + 2) {
      margin-right: 0;
      margin-left: 0; } }

#primary .woocommerce ul.product_list_widget li a {
  border-bottom: none;
  color: #5a5d60; }

#primary .woocommerce ul.product_list_widget li a span {
  display: block;
  text-align: center; }

#primary .woocommerce ul.product_list_widget li a:hover {
  color: #0896fe; }

#primary .woocommerce ul.product_list_widget li img {
  float: none;
  margin-left: 0;
  max-width: 180px;
  width: auto; }
  @media (max-width: 480px) {
    #primary .woocommerce ul.product_list_widget li img {
      max-width: 300px; } }

/*--------------------------------------------------------------
## - Shopping Cart Widget
--------------------------------------------------------------*/
.woocommerce.widget_shopping_cart ul.product_list_widget {
  margin-bottom: 14px;
  overflow: auto; }
  .woocommerce.widget_shopping_cart ul.product_list_widget li img {
    float: left;
    margin-right: 10px;
    width: 80px; }
  .woocommerce.widget_shopping_cart ul.product_list_widget li.empty {
    padding-left: 0;
    text-align: left; }

.woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #eaeaeb;
  display: block;
  margin-bottom: 7px; }

.woocommerce.widget_shopping_cart .buttons a:hover {
  color: #fff; }
